
<section class="all-container">
    <app-introduction class="introduction-container"></app-introduction>
    <app-project-pokedex class="pokedex-container"></app-project-pokedex>
    <app-project-upgrade class="upgrade-container"></app-project-upgrade>
    <app-front-skills class="front-skills-container"></app-front-skills>
    <app-back-skills class="back-skills-container"></app-back-skills>
    <app-map class="map-container"></app-map>
    <app-linkedin class="linkedin-container"></app-linkedin>
    <app-github class="github-container"></app-github>
    <app-cv class="cv-container"></app-cv>
    <app-project-gamevault class="gamevault-container"></app-project-gamevault>
    <app-contact class="contact-container"></app-contact>
    <app-learning-skills class="learning-skills-container"></app-learning-skills>
    <app-project-upcode class="upcode-container"></app-project-upcode>
</section>
