<header class="introduction">
    <h2 class="introduction__role">Full stack Developer</h2>
    <h1 class="introduction__title">Hola! Soy <span class="introduction__name">Javier Manchón 👋</span></h1>
    <p class="introduction__description">Descubrí en el desarrollo full stack un lugar donde poder ser <span class="introduction__highlight">creativo</span> , donde podía explotar mis <span class="introduction__highlight">habilidades comunicativas</span> en <span class="introduction__highlight">equipos</span> para construir cosas con <span class="introduction__highlight">pasión</span> y <span class="introduction__highlight">dedicación</span>.
    </p>
</header>
