
<article class="front-skills">
    <h3 class="front-skills__title">Frontend</h3>
    <div class="front-skills__area">
        <img class="front-skills__item html" src="../../../assets/images/HTML5_logo_and_wordmark.svg.png" alt="icono html">
        <img class="front-skills__item css" src="../../../assets/images/icono-css.png" alt="icono css">
        <img class="front-skills__item javascript" src="../../../assets/images/JavaScript-logo.png" alt="icono javascript">
        <img class="front-skills__item sass" src="../../../assets/images/sass logo.png" alt="icono sass">
        <img class="front-skills__item react" src="../../../assets/images/React-icon.png" alt="icono react">
        <img class="front-skills__item angular" src="../../../assets/images/Angular_full_color_logo.svg.png" alt="icono angular">
    </div>
</article>