
<article class="back-skills">
    <h3 class="back-skills__title">Backend</h3>
    <div class="back-skills__area">
        <img class="back-skills__item" src="../../../assets/images/1_bc9pmTiyKR0WNPka2w3e0Q.png" alt="icono node">
        <img class="back-skills__item" src="../../../assets/images/mongo logo.webp" alt="icono mongoDB">
        <img class="back-skills__item" src="../../../assets/images/php logo.png" alt="icono php">
        <img class="back-skills__item" src="../../../assets/images/sql-icono.png" alt="icono sql">
    </div>
</article>
